<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <title>JobBoard</title>
    <!-- can stick in some ruby code between those things -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class='clearfix'>
      <div class="left-nav">
        <ul>
          <li><%= link_to "Home", jobs_path %></li>
        </ul>
      </div>
      <div class="right-nav">
        <ul>
          <li><%= link_to "Add Job", new_job_path %></li>
        </ul>
      </div>
    </header>
    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
